.sparkles{
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:6;
}

.sparkle{
    position:absolute;
    width:4px;
    height:4px;
    background:#FFD700;
    border-radius:50%;
    box-shadow:0 0 10px gold;
    animation:twinkle infinite ease-in-out;
}

@keyframes twinkle{
    0%,100%{
        opacity:.2;
        transform:scale(.5);
    }

    50%{
        opacity:1;
        transform:scale(1.5);
    }
}