.timeline-section{

padding:100px 20px;

background:#070707;

}

.timeline-section h2{

text-align:center;

font-size:38px;

color:#FFD700;

margin-bottom:60px;

}

.timeline{

position:relative;

max-width:800px;

margin:auto;

}

.timeline::before{

content:"";

position:absolute;

left:25px;

top:0;

width:4px;

height:100%;

background:gold;

}

.timeline-card{

display:flex;

margin-bottom:45px;

position:relative;

}

.circle{

width:22px;

height:22px;

background:#FFD700;

border-radius:50%;

margin-right:25px;

margin-left:15px;

box-shadow:0 0 20px gold;

flex-shrink:0;

}

.content{

background:#111;

padding:25px;

border-radius:18px;

width:100%;

border:1px solid rgba(255,215,0,.25);

transition:.3s;

}

.content:hover{

transform:translateY(-6px);

box-shadow:0 0 30px rgba(255,215,0,.3);

}

.content h3{

color:gold;

margin-bottom:10px;

}

.content small{

color:#bbb;

display:block;

margin-bottom:15px;

}

.content p{

color:#eee;

line-height:1.8;

}

@media(max-width:768px){

.timeline::before{

left:18px;

}

.circle{

margin-left:8px;

margin-right:18px;

}

}